@media only screen and (max-width: 600px) {
    body {
        width: 850px;
        height: auto;
        /* max-width: 400px; */
    }

    .navbar {
        height: 320px;
    }

    .navbar .ul {
        display: grid;
        place-items: center;
    }

    .navbar .ul .li {
        padding-top: 15px;
        text-align: center;
    }

    .navbar .ul .li a {
        font-size: 30px;
        text-align: center;
    }

    .content {
        height: 80px;
    }

    .content .p {
        padding-top: 18px;
    }

    .container .work {
        padding: 15px;
        border: 2px solid rgb(0, 0, 0);
    }




}