@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=DM+Serif+Display&family=Rubik+Iso&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: auto;
}

/* ----------------------NAVBAR------------------- */
.navbar {
  height: auto;
  width: auto;
  display: flex;
  justify-content: right;
  background-color: rgba(104, 89, 110, 0.615);

}

.navbar .ul {
  list-style-type: none;
}

.navbar .ul .li {
  padding: 40px;
  float: left;
  margin-top: 10px;
}

.navbar .ul .li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
}

.navbar .ul .li a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 1px #000000;
}

.navbar .ul .li a:active {
  background-color: rgb(176, 154, 197);
  border: 1px solid black;
}

/* ---------------------NAV-end---------------------- */

/* ----------------------ID--------------------- */
#section-1,
#sectiom-2,
#section-3 {
  width: auto;
  height: auto;
}


.container {
  
  width: auto;
  height: auto;
}

.container .img {
  width: 100%;
  height: 820px;
}

.h1 {
  padding: 10px 0px 46px 0px;
  font-size: 30px;
  text-align: center;
}

.container .h2 {
  color: rgb(0, 0, 0);
  padding: 10px 0px 0px 0px;
  font-size: 16px;
  font-family: 'Angkor', cursive;
  text-align: center;
}


/* -----------------Introduction----------------- */
.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 450px;
  /* height: auto; */
}

.introduction strong {
  padding: 40px 0px 0px 12px;
  font-size: 35px;
}

/* Image  */
.introduction .profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.introduction p {
  height: auto;
  letter-spacing: 0.8px;
  line-height: 36px;
  word-spacing: 4px;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.h3 {
  margin-top: 35px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}


.el-skills {
  margin-top: 35px;
  text-align: center;
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.container3 {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;

}

.animate {
  display: flex;
  justify-content: center;
  text-align: center;
}

.animate p {
  border: 1px solid #ccc;
  width: 260px;
  height: 260px;
  font-size: 40px;
}




/* ------------------Contact form----------------------- */


.contact-form {
  display: flex;
  justify-content: space-between;

  /* Making contact detail's in center */
  padding-top: 50px;
  text-align: left;
  max-width: 670px;
  margin: auto;

  padding-bottom: 40px;
  /* color: white; */
}

.message {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.message textarea {
  /* border-radius: 10px; */
  /* border: 1px solid black; */
}

.contact-form label {
  display: flex;
  margin-bottom: 10px;


}


.contact-details input {
  /* border-radius: 10px; */
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}



.message button {
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  background: blueviolet;
  width: 160px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.message button:hover {
  background: black;
  color: white;
  transition: 0.1s;

}

/* End with Contact form */



/*--------------------------- Gallery----------------- */

.flex-box {
  display: grid;
  place-items: center;
  border: 1px solid black;

  padding: 0px 0px 0px 0px;
  width: auto;
  height: 720px;
}

.flex--elements {
  width: 12;
  height: 720px;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 10px auto;
}




/* ------------------GALLERY-END-----------------------------*/


/* -----------------------FOOTER----------------------- */
.footer {
  text-align: center;
  height: 220px;
  background-color: rgba(75, 25, 94, 0.615);
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 25px;
  list-style: none;

}


ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  /* color: rgb(0, 0, 0); */
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-variant: normal;
}

ul li a:hover {
  color: #000000;
  /* border: 1px solid rgb(0, 0, 0); */

}

/* FOOTER END */