@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  height: auto;
  width: 100%;
  background-color: rgba(75, 25, 94, 0.615);
}

.navbar .ul {
  list-style: none;
  padding-left: 65%;
}

.navbar .ul .li {
  display: inline-block;
  margin: 25px;
  list-style: none;
}

.navbar .ul .li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
}

.navbar .ul .li a:hover {
  color: rgb(255, 255, 255);
  /* background-color: rgb(0, 0, 0); */
  text-shadow: 0px 5px 1px #000000;
}

.navbar .ul .li a:active {
  background-color: rgb(176, 154, 197);
  border: 1px solid black;
}
l .show {
  display: block;
}
h1 {
  text-align: center;
  margin-top: 23px;
  color: rgba(18, 136, 168, 0.831);
  font-size: 35px;
}

.content {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
}

.content .p .h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 45px;
}

.content .p strong {
  padding: 3px;
  color: white;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
 }

.container .work {
  padding: 5px;
  border: 3px solid rgb(0, 0, 0);
}

.container .work .h3 {
  font-size: 45px;
  text-align: center;
}

.container2 {
  width: auto;
  height: auto;
}

.container2 .h2 {
  color: rgb(162, 96, 224);
  font-size: 56px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.section {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  /* background-color: rgb(190, 225, 230); */
}

.section p {
  font-family: "Lora", serif;
  font-size: unset;
  height: auto;
  letter-spacing: 0.8px;
  line-height: 26px;
  padding: 25px;
  word-spacing: 4px;
  padding: 10px;
}

.section img {
  margin: 12px;
  height: 350px;
  width: auto;
  padding-right: 50px;
  max-width: 35%;
}

.p {
  text-align: center;
  font-size: 35px;
  margin: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container h2 {
  margin-top: 35px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.address {
  max-width: 20%;
  /* width: 10%; */
  text-align: center;

  font-weight: bolder;
}

.container .address a:hover {
  color: black;
  border: 1px solid black;
}

hr.rounded {
  border-top: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.span {
  color: rgb(162, 96, 224);
  font-size: 56px;
  text-align: center;
  padding-bottom: 35px;
  padding-top: 35px;
}

.section2 p {
  padding: 150px;
  margin: 20px;
}
.section2 p {
  font-size: 15px;
  font-family: "Lora", serif;
  padding: 35px;
  padding: 25px;
  word-spacing: 4px;
  padding: 10px;
}

.section2 tr td {
  /* border: 1px solid rgb(0, 0, 0); */
  padding: auto;
  line-height: 25px;
  font-weight: bold;
}

.address {
  padding-top: 10rem;
  padding-left: 35rem;
}
.address a {
  text-decoration: none;
  font-size: large;
  color: blueviolet;
}

.container3 {
  display: grid;
  /* background-color: rgb(255, 237, 209); */
  grid-template-columns: 200px 200px 200px 200px;
  padding-left: 290px;
}

button{

}










.details {
  align-items: center;
  border-radius: 25px;
  margin: 8px;
  /* border: 2px solid blueviolet;; */
}

.details .summary {
  padding: 15px;
  text-decoration: none;
  font-weight: bolder;
}
.el-text {
  text-align: center;
  padding: 10px;
  color: blueviolet;
}

.skills {
  /* background-color: rgb(255, 237, 209); */
}

.skills .el-skills {
  margin-top: 35px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  /* font-weight: bold; */
}










/* Contact form */
.contact-form {


  display: flex;
  justify-content: space-between;

  /* Making contact detail's in center */

  padding: 80px 350px;
  
  /* text-align: left; */
  /* max-width: 670px; */
  /* margin: auto; */
  /* color: white; */
}

.message {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.message textarea {
  border-radius: 10px;
  /* border: 0px; */
}



.contact-form label {
  display: flex;
  margin-bottom: 10px;
  
}


.contact-details input {
  /* border-radius: 10px; */
  /* border-radius: 1px; */
 
  padding: 5px;
  margin-bottom: 10px;
}










.message textarea {
  border-radius: 5px;
}

.message button {
  color: rgb(0, 0, 0);
  border: 0;
  border-radius: 5px;
  background: blueviolet;
  width: 160px;
  height: 40px;
  margin-top: 10px;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.message button:hover {
  background: black;
  color:white;
  transition:0.1s;
}








.footer {
  text-align: center;
}

.footer .ul {
  list-style: none;
}

.footer .ul .li {
  display: inline-block;
  margin: 25px;
  list-style: none;
}

/* .footer{
  padding-top: 650px;
} */
.footer .ul .li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  font-variant: normal;
}

.footer .ul .li a:hover {
  border: 1px solid black;
}
