@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Angkor&family=DM+Serif+Display&family=Rubik+Iso&display=swap');

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  height: auto;
  width: auto;
}

/* ----------------------NAVBAR------------------- */
.navbar {
  display: flex;
  justify-content: right;
  background-color: rgba(104, 89, 110, 0.615);

}

.navbar .ul {
  list-style-type: none;
}

.navbar .ul .li {
  padding: 4vh;
  float: left;
}

.navbar .ul .li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
}

.navbar .ul .li a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 1px #000000;
}

.navbar .ul .li a:active {
  background-color: rgb(176, 154, 197);
  border: 1px solid black;
}

/* ---------------------NAV-end---------------------- */

/* ----------------------ID--------------------- */
#sectiom-2,
#section-3 {
  width: auto;
  height: auto;
}



.h1 {
  padding: 5vh 0vh 2vh 0vh;
  font-size: 2rem;
  text-align: center;
}


/* -----------------Introduction----------------- */
#section-1.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 30vh;
  padding-bottom: 7vh;
}

.introduction strong {
  padding: 4vh 0vh 0vh 1vh;
  font-size: 3vh;
}

/* Image  */
.introduction .profile_pic {
  width: 22vh;
  height: 22vh;
  border-radius: 50%;
}

.introduction p {
  height: auto;
  letter-spacing: 0.8px;
  line-height: 36px;
  word-spacing: 4px;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.introduction .resume--btn {
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  background: blueviolet;
  width: 16vh;
  height: 4vh;
  margin-top: 1vh;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.introduction .resume--btn:hover {
  background: black;
  color: white;
  transition: 0.3s;
}

/* END */

/* section2 SKILLS */

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  padding: 4vh 0vh 3vh 32vh;
  height: auto;

}

.container h4{
  padding: 0vh 0vh 2vh 0vh;
  font-size: 3vh;
}

.skills img{
  width: 12vh;
  height: 10vh;
}

/* section2 SKILLS -END- */

/* ------------------Contact form----------------------- */
.container2{
  padding-top: 3vh;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.h3 {
  margin-top: 0vh;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  /* Making contact detail's in center */
  padding-top: 5vh;
  text-align: left;
  max-width: 80vh;
  margin: auto;

  padding-bottom: 40px;
  /* color: white; */
}

.message {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.message textarea {
  background: transparent;
  border-radius: 10px;
  border: 1px solid black;
}

.contact-form label {
  display: flex;
  margin-bottom: 10px;


}

.contact-details input {
  /* border-radius: 10px; */
  background: transparent;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.message button {
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  background: blueviolet;
  width: 160px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.message button:hover {
  background: black;
  color: white;
  transition: 0.1s;

}

/* End with Contact form */




/* -----------------------FOOTER----------------------- */
.footer {
  text-align: center;
  height: 220px;
  background-color: rgba(75, 25, 94, 0.615);
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 25px;
  list-style: none;
}

ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;

  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-variant: normal;
}

ul li a:hover {
  color: #000000;
}

/* FOOTER END */